
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<section>
    <div>
        <h3>My Education Details</h3>
        <div>
            <lo>
                <li>Hsc - 2017 - 4.92</li>
                <li>Ssc - 2015 - 5.00</li>
                <li>Jsc - 2012 - 5.00</li>
            </lo>
        </div>
    </div>
</section>