
@{
    ViewBag.Title = "Reference";
}

<h2>Reference</h2>
<section>
    <div>
        <h3>Reference Details</h3>
        <div>
            <h4>Name: Tanvir Ahmed.</h4>
            <h4>Designation: Faculty of science and Technology.</h4> 
            <h4>Institution: American International University-Bangladesh (AIUB).</h4>
            <h4>Email: tanvir.ahmed@aiub.edu</h4>
        </div>
    </div>
</section>
